<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/patients/CSS/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/patients/JS/bootstrap.min.js"></script>
    <script src="/static/patients/JS/ajax.js"></script>
    <style>
        .leftBorder{
            border: 3px solid #31708f;
            border-radius: 8px;
        }
    </style>
</head>
<body class="container-fluid">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3"></div>
                <div class="col-sm-1 col-md-1 col-ld-1 col-xs-1"><image src="/static/patients/CSS/images/brand.jpg"/></div>
                <div class="col-sm-1 col-md-1 col-ld-1 col-xs-1"><span class="pull-left"><image src="/static/patients/CSS/images/cmnew.jpg" hegiht="60px" width="60px"/></span></div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
                    <h3>Patient Details</h3>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1 col-xs-1"><image src="/static/patients/CSS/images/Kamineni_Srinivas.jpg"/></div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3"></div>
            </div>
        </div>
    <div class="panel-body">
        <div class="leftBorder">
            <div class="row">
                <br/>
                <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3"></div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <span class="pull-right"><h4>Patinet Number:</h4></span>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xm-3">
                    <h5>{{patientId}}</h5>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4"></div>
            </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3"></div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <span class="pull-right"><h4>Aadhar No:</h4></span>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xm-2">
                    <h5>{{aadharNo}}</h5>
                </div>
                <div class="col-sm-5 col-md-5 col-lg-5 col-xs-5"></div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3"></div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <span class="pull-right"><h4>Surname:</h4></span>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xm-2">
                    <h5>{{surname}}</h5>
                </div>
                <div class="col-sm-5 col-md-5 col-lg-5 col-xs-5"></div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3"></div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <span class="pull-right"><h4>Name:</h4></span>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xm-3">
                    <h5>{{name}}</h5>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3"></div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <span class="pull-right"><h4>Gender:</h4></span>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xm-3">
                    <h5>{{gender}}</h5>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3"></div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <span class="pull-right"><h4>Age:</h4></span>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xm-3">
                    <h5>{{age}}</h5>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3"></div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <span class="pull-right"><h4>Address:</h4></span>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xm-3">
                    <h5>{{address}}</h5>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3"></div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <span class="pull-right"><h4>Mobile:</h4></span>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xm-3">
                    <h5>{{mobile}}</h5>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3"></div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <span class="pull-right"><h4>Date of Registration:</h4></span>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xm-3">
                    <h5>{{DOR}} UTC</h5>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4"></div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6"></div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
                    <h4>Hospital Details</h4>
                    <h5>Primary Health Center</h5>
                    <h5>Kammapalli</h5>
                    <h5>Tirupati</h5>
                    <h5>+91 99 630 22 802</h5>
                    <h5>517 501.</h5>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
                    <h4>Quick Links</h4>
                    <a href="#"><h5>Home Page</h5></a>
                    <a href="#"><h5>Blog</h5></a>
                    <a href="#"><h5>Gallery</h5></a>
                    <a href="#"><h5>Contact Us</h5></a>
                </div>
            </div>
    </div>
    </div>
</body>
</html>